/* CSS Document */
/* Sombras en los cuadros */
li {
	float: left;
	width: auto;
	margin: 5px;
	padding: 6px;
	color: #fff;
	padding: 10px;
	background: #111;
	border: 1px solid #000;
	border-right: 1px solid #353535;
	border-bottom: 1px solid #353535;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	}