/* CSS Document */
/* Sombras en los cuadros */
ul {
	float: left;
	width: auto;
	list-style: none;
	margin: 50px;
	padding: 50px;
	}
li {
	float: left;
	width: auto;
	margin: 5px;
	padding: 5px;
	
	
/* Sombras */	
-webkit-box-shadow: 0 0 15px rgb(0,0,0);
-moz-box-shadow: 0 0 15px rgb(0,0,0);
box-shadow: 0 0 15px rgb(0,0,0);
		
		
/* borde redondeado */		
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
	}

